<div class="grid grid-3col" style="gap:20px">

  {{!-- Column 1 : ATTRIBUTES --}}
  <div class="flexcol">
    <div class="grid grid-2col">

      {{!-- Column 1.1 : DUR/AGI --}}
      <div class="flexcol" style="gap:20px">
        <div class="flexcol flex-group-center">
          <label for="system.attributes.durability.base" class="resource-label">DURABILITY</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.durability.base" value="{{system.attributes.durability.base}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>

        <div class="flexcol flex-group-center">
          <label for="system.attributes.agility.base" class="resource-label">AGILITY</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.agility.base" value="{{system.attributes.agility.base}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>
      </div>

      {{!-- Column 1.2 : MAS/PRE --}}
      <div class="flexcol" style="gap:20px">
        <div class="flexcol flex-group-center">
          <label for="system.attributes.mass.base" class="resource-label">MASS</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.mass.base" value="{{system.attributes.mass.base}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>

        <div class="flexcol flex-group-center">
          <label for="system.attributes.precision.base" class="resource-label">PRECISION</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.precision.base" value="{{system.attributes.precision.base}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>
      </div>

      {{!-- Row 1.3 : CUN --}}
      <section class="main grid-span-2" style="gap:20px">
        <div class="flexcol flex-group-center">
        <label for="system.attributes.cunning.base" class="resource-label">CUNNING</label>
        <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.cunning.base" value="{{system.attributes.cunning.base}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>
      </section>

    </div>

    {{{system.pointsRemainingMessage}}}
  </div>


  {{!-- Column 2 : PROPERTIES --}}
  <div class="flexcol flex-group-center" style="padding-left:20px; border-left:1px solid #00000038">
    <div class="flexcol" style="gap:3px; padding-top:12px; padding-bottom:12px;">

      <div class="flexrow flex-group-center">
        <label for="system.life.max" class="resource-label align-left" data-label="Life">Life</label>
        <div class="flexrow">
          <input type="text" name="system.life.max" value="{{system.life.max}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.healingFactor.value" class="resource-label align-left" data-label="HF">Heal Fac.</label>
        <div class="flexrow">
          <input type="text" name="system.healingFactor.value" value="{{system.healingFactor.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.damageMultiplier.value" class="resource-label align-left" data-label="Damage">Damage</label>
        <div class="flexrow">
          <input type="text" name="system.damageMultiplier.value" value="{{system.damageMultiplier.value}}%" data-dtype="Text" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.accuracy.value" class="resource-label align-left" data-label="Accuracy">Accuracy</label>
        <div class="flexrow">
          <input type="text" name="system.accuracy.value" value="+{{system.accuracy.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.dodgeRating.value" class="resource-label align-left" data-label="DR">Dodge</label>
        <div class="flexrow">
          <input type="text" name="system.dodgeRating.value" value="{{system.dodgeRating.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.criticalResistance.value" class="resource-label align-left" data-label="CR">Crit Res.</label>
        <div class="flexrow">
          <input type="text" name="system.criticalResistance.value" value="{{system.criticalResistance.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.speed.value" class="resource-label align-left" data-label="Speed">Speed</label>
        <div class="flexrow">
          <input type="text" name="system.speed.value" value="{{system.speed.value}}ft." data-dtype="Text" disabled/>
        </div>
      </div>

    </div>
  </div>


  {{!-- Column 3 : RESOURCES --}}
  <div class="flexcol flex-group-center" style="padding-left:20px; border-left:1px solid #00000038">
    <div class="flexcol" style="gap:3px; padding-top:12px; padding-bottom:12px;">

      <div class="flexrow flex-group-center">
        <label for="system.focus.max" class="resource-label align-left" data-label="Focus">Focus</label>
        <div class="flexrow">
          <input type="text" name="system.focus.max" value="{{system.focus.max}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.ammo.max" class="resource-label align-left" data-label="Ammo">Ammo</label>
        <div class="flexrow">
          <input type="text" name="system.ammo.max" value="{{system.ammo.max}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.resources.stance.max" class="resource-label align-left" data-label="Stance">Stance</label>
        <div class="flexrow">
          <input type="text" name="system.resources.stance.max" value="{{system.resources.stance.max}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.resources.perfection.max" class="resource-label align-left" data-label="Perfection">Perfection</label>
        <div class="flexrow">
          <input type="text" name="system.resources.perfection.max" value="{{system.resources.perfection.max}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.resources.expertise.max" class="resource-label align-left" data-label="Expertise">Expertise</label>
        <div class="flexrow">
          <input type="text" name="system.resources.expertise.max" value="{{system.resources.expertise.max}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.resources.lastStand.max" class="resource-label align-left" data-label="Last Stand">Last Stand</label>
        <div class="flexrow">
          <input type="text" name="system.resources.lastStand.max" value="{{system.resources.lastStand.max}}" data-dtype="Number" disabled/>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="flex-group-center" style="border-top:1px solid #00000038; border-bottom:1px solid #00000038; ">

  {{!-- TEMP ARMOR SELECTION --}}
    <section class="main grid-span-2">
        <div class="flex-group-center">
            <label for="system.armor.type" class="resource-label">Outfit</label>
            <div class="flexrow flex-center flex-between">
                <select name="system.armor.type" value="{{system.armor.type}}" style="min-width:20px; text-align:center;">
                    {{#select system.armor.type}}
                    <option value="bare">Bare</option>
                    <option value="clothes">Clothes</option>
                    <option value="armor_light">Light Armor</option>
                    <option value="armor_medium">Medium Armor</option>
                    <option value="armor_heavy">Heavy Armor</option>
                    <option value="packs_light">Light Packs</option>
                    <option value="packs_medium">Medium Packs</option>
                    <option value="packs_heavy">Heavy Packs</option>
                    <option value="robes_light">Light Robes</option>
                    <option value="robes_heavy">Heavy Robes</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </section>

</div>