<div class="grid grid-3col" style="gap:20px">

  {{!-- Column 1 : ATTRIBUTES --}}
  <div class="flexcol">
    <div class="grid grid-2col">

      {{!-- Column 1.1 : DUR/AGI --}}
      <div class="flexcol" style="gap:20px">
        <div class="flexcol flex-group-center">
          <label for="system.attributes.durability.value" class="resource-label">DURABILITY</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.durability.value" value="{{system.attributes.durability.value}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>

        <div class="flexcol flex-group-center">
          <label for="system.attributes.agility.value" class="resource-label">AGILITY</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.agility.value" value="{{system.attributes.agility.value}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>
      </div>

      {{!-- Column 1.2 : MAS/PRE --}}
      <div class="flexcol" style="gap:20px">
        <div class="flexcol flex-group-center">
          <label for="system.attributes.mass.value" class="resource-label">MASS</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.mass.value" value="{{system.attributes.mass.value}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>

        <div class="flexcol flex-group-center">
          <label for="system.attributes.precision.value" class="resource-label">PRECISION</label>
          <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.precision.value" value="{{system.attributes.precision.value}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>
      </div>

      {{!-- Row 1.3 : CUN --}}
      <section class="main grid-span-2" style="gap:20px">
        <div class="flexcol flex-group-center">
        <label for="system.attributes.cunning.value" class="resource-label">CUNNING</label>
        <div style="margin:auto; margin-bottom: 8px; border-bottom: 1px solid #00000038; width:60px"></div>
          <div class="flexrow" style="max-width:50px; text-align:center">
            <input type="text" name="system.attributes.cunning.value" value="{{system.attributes.cunning.value}}" data-dtype="Number" style="height:40px; font-weight: bold; font-size: 20px;"/>
          </div>
        </div>
      </section>

    </div>

    {{{system.pointsRemainingMessage}}}
  </div>


  {{!-- Column 2 : RESOURCES / POWER / TO-HIT / CRITS --}}
  <div class="flexcol flex-group-center" style="padding-left:20px; border-left:1px solid #00000038">
    <div class="flexcol" style="gap:3px; padding-top:12px; padding-bottom:12px;">

      <div class="flexrow flex-group-center">
        <label for="system.life.max" class="resource-label align-left" data-label="Life">Life</label>
        <div class="flexrow">
          <input type="text" name="system.life.max" value="{{system.life.max}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.healingFactor.value" class="resource-label align-left" data-label="HF">Heal Fac.</label>
        <div class="flexrow">
          <input type="text" name="system.healingFactor.value" value="{{system.healingFactor.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.damageMultiplier.value" class="resource-label align-left" data-label="Damage">Damage</label>
        <div class="flexrow">
          <input type="text" name="system.damageMultiplier.value" value="{{system.damageMultiplier.value}}%" data-dtype="Text" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.accuracy.value" class="resource-label align-left" data-label="Accuracy">Accuracy</label>
        <div class="flexrow">
          <input type="text" name="system.accuracy.value" value="+{{system.accuracy.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.dodgeRating.value" class="resource-label align-left" data-label="DR">Dodge</label>
        <div class="flexrow">
          <input type="text" name="system.dodgeRating.value" value="{{system.dodgeRating.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.criticalResistance.value" class="resource-label align-left" data-label="CR">Crit Res.</label>
        <div class="flexrow">
          <input type="text" name="system.criticalResistance.value" value="{{system.criticalResistance.value}}" data-dtype="Text" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.speed.value" class="resource-label align-left" data-label="Speed">Speed</label>
        <div class="flexrow">
          <input type="text" name="system.speed.value" value="{{system.speed.value}}ft." data-dtype="Text" disabled/>
        </div>
      </div>

    </div>
  </div>


  {{!-- Column 3 : PROPERTIES --}}
  <div class="flexcol flex-group-center" style="padding-left:20px; border-left:1px solid #00000038">
    <div class="flexcol" style="gap:3px; padding-top:12px; padding-bottom:12px;">

      <div class="flexrow flex-group-center">
        <label for="system.dodge.value" class="resource-label align-left">Dodge</label>
        <div class="flexrow">
          <input type="text" name="system.dodge.value" value="{{system.dodge.value}}" data-dtype="Number" style="font-size:12px" disabled/>
          <span style="padding-top:4px;"> / </span>
          <input type="text" name="system.dodge.cap" value="{{system.dodge.cap}}" data-dtype="Number" style="font-size:12px" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.posture.value" class="resource-label align-left" data-label="Posture">Posture</label>
        <div class="flexrow">
          <input type="text" name="system.posture.value" value="{{system.posture.value}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.resilience.value" class="resource-label align-left" data-label="Resilience">Resilience</label>
        <div class="flexrow">
          <input type="text" name="system.resilience.value" value="{{system.resilience.value}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.mobility.value" class="resource-label align-left" data-label="Mobility">Mobility</label>
        <div class="flexrow">
          <input type="text" name="system.mobility.value" value="{{system.mobility.value}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.logic.value" class="resource-label align-left" data-label="Logic">Logic</label>
        <div class="flexrow">
          <input type="text" name="system.logic.value" value="{{system.logic.value}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div style="padding:8px"></div>

      <div class="flexrow flex-group-center">
        <label for="system.affinity.value" class="resource-label align-left" data-label="Affinity">Affinity</label>
        <div class="flexrow">
          <input type="text" name="system.affinity.value" value="{{system.affinity.value}}" data-dtype="Number" disabled/>
        </div>
      </div>

      <div class="flexrow flex-group-center">
        <label for="system.potency.value" class="resource-label align-left" data-label="Potency">Potency</label>
        <div class="flexrow">
          <input type="text" name="system.potency.value" value="{{system.potency.value}}" data-dtype="Number" disabled/>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="flex-group-center" style="border-top:1px solid #00000038; border-bottom:1px solid #00000038; ">

  {{!-- TEMP ARMOR SELECTION --}}
    <section class="main grid-span-2">
        <div class="flex-group-center">
            <label for="system.armor.type" class="resource-label">Armor Type</label>
            <div class="flexrow flex-center flex-between">
                <select name="system.armor.type" value="{{system.armor.type}}" style="min-width:20px; text-align:center;">
                    {{#select system.armor.type}}
                    <option value="bare">Bare</option>
                    <option value="clothes">Clothes</option>
                    <option value="armor_light">Light Armor</option>
                    <option value="armor_medium">Medium Armor</option>
                    <option value="armor_heavy">Heavy Armor</option>
                    <option value="packs_light">Light Packs</option>
                    <option value="packs_medium">Medium Packs</option>
                    <option value="packs_heavy">Heavy Packs</option>
                    <option value="robes_light">Light Robes</option>
                    <option value="robes_heavy">Heavy Robes</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </section>

</div>